footer.col-md-9.ml-sm-auto.col-lg-10.px-4
  .text-center
    ul.float-md-left.list-inline
      li.list-inline-item © 2018 Instabox
      li.list-inline-item
        | Обратная связь:&nbsp;
        a(href='mailto:support@peak-systems.ru') support@peak-systems.ru

