doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='theme-color', content='#ffffff')
        meta(name='msapplication-navbutton-color', content='#ffffff')
        meta(name='csrf-token', content=_csrf)
        block meta
        block title
            title #{title} - Instabox
        link(rel='apple-touch-icon', sizes='120x120', href='/images/icons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/images/icons/favicon-16x16.png')
        link(rel='manifest', href='/images/icons/manifest.json')
        link(rel='mask-icon', href='/images/icons/safari-pinned-tab.svg', color='#5bbad5')
        link(rel='shortcut icon', href='/images/icons/favicon.ico')
        meta(name='msapplication-config', content='/images/icons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-grid.css')
        link(rel='stylesheet', href='/css/bootstrap-reboot.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='//vjs.zencdn.net/7.0.3/video-js.css')
        block stylesheets

    body
        include partials/header
        
        .container-fluid
            .row
                .col-md-2.d-none.d-md-block.bg-light.sidebar
                    .sidebar-sticky
                        ul.nav.flex-column  
                            li.nav-item 
                                .input-group-sm
                                    label(for='watch-folder') Выбор папки
                                    input(type='text', id='watch-folder', class='form-control')
                            li.nav-item 
                                .input-group-sm
                                    label(for='set-count') Кол-во фото в сете
                                    input(type='text', id='set-count', class='form-control', value='48')
                            li.nav-item 
                                .input-group-sm
                                    label(for='repeat-set-count') Кол-во повторов сета
                                    input(type='text', id='repeat-set-count', class='form-control', value='2')
                            li.nav-item
                                button(id='watch-folder-submit', class='btn btn-primary', onclick='startWatchFolder()') Наблюдать
                        .text-center.copy
                            ul.float-md-left.list-inline
                            li.list-inline-item © 2018 Instabox
                            li.list-inline-item
                                | Обратная связь:&nbsp;
                                a(href='mailto:support@peak-systems.ru') support@peak-systems.ru
                .col-md-9.ml-sm-auto.col-lg-10.px-4.content
                    block content
                    .content
                        ul.gallery

        script(src='//code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='/socket.io/socket.io.js')
        script(src='//vjs.zencdn.net/7.0.3/video.js')
        script(src='/js/script.js')

